body{
  width: 100%;
  margin: auto;
}
form {
  width: 20%;
  border: 1px solid black;


  margin: auto;
  background-color: lightblue;
  border-radius: 3px;

}

input {
  margin: 2px;
}

table {
  margin: 10px;
}

select {
  margin: 10px;
}

label {
  margin: 10px;
}

button {
  margin: 10px;
}

p {
  text-align: center;
}

hr {
  border-color: black;
}
