#logo {
  margin: auto;
  display: block;
}

main {
  margin: auto;

}
form {
  position: fixed;
   top: 400px;
   right: 10px;
   width: 400px;
   margin-right: 200px;
   background-color: lightgrey;
   border-radius: 10px;

}

section {
  width: 700px;
}
header > p, h1, h5 {
  text-align: center;
}
header > hr {
  height: 1px;
  background-color: blue;
  border: none;
}
ul > h5 {
  float: left;
}

.listakuvat{
  vertical-align: middle;
  margin-right: 20px;
}
#teksti {
  color: grey;
}
footer {
  text-align: center;
}

footer > p {
  color: grey;
}

main > p {
  margin-top: 50px;
}

@media screen and (max-width: 1410px) {
  main {

  }
  form {
   position: inherit;
   background-color: lightgrey;
   border-radius: 10px;

  }
  section {
    background-color: lightgrey;
    border-radius: 10px;
  }
}

@media screen and (max-width: 730px) {
  main  {


  }

  section {

    width: 600px;
  }

  form {
    width: 250px;
  }
  textarea {
    width: 240px;
  }
}

@media screen and (max-width: 630px) {
  main  {


  }

  section {

    width: 500px;
  }

  form {
    width: 250px;
  }
}

@media screen and (max-width: 530px) {
  main  {


  }

  section {

    width: 400px;
  }

  textarea {
    width: 235px;
  }
}
