#ekanimi {
  color: green;
  font-size: 50px;

}

#eka {
  font-size: 10px;

}

#toka {
  font-size: 20px;

}

#kolmas {
  font-size: 30px;

}

#neljäs {
  font-size: 50px;

}

#viides {
  font-size: 60px;

}

#kuudes {
  font-size: 50px;

}

#seitsemäs {
  font-size: 40px;

}

#kahdeksas {
  font-size: 30px;

}

#yhdeksäs {
  font-size: 20px;

}

#tokanimi {
  font-family: 'Aboreto', cursive;

}

#fontti1 {
  font-family: 'Alumni Sans Collegiate One', sans-serif;

}

#fontti2 {
  font-family: 'Alumni Sans Pinstripe', sans-serif;

}

#fontti3 {
  font-family: 'Anek Telugu', sans-serif;

}

#fontti4 {
  font-family: 'Karla', sans-serif;

}

#fontti5 {
  font-family: 'Montserrat', sans-serif;

}

#fontti6 {
  font-family: 'Noto Serif Balinese', serif;

}

#fontti7 {
  font-family: 'Open Sans', sans-serif;

}

#fontti8 {
  font-family: 'Permanent Marker', cursive;

}

#fontti9 {
  font-family: 'Roboto', sans-serif;

}

#fontti10 {
  font-family: 'Rubik Burned', cursive;

}
