#ekanimi {
  color: green;
  font-size: 50px;

}

#eka {
  font-size: 10px;
  color: red;

}

#toka {
  font-size: 20px;
  color: blue;
}

#kolmas {
  font-size: 30px;
  color: grey;
}

#neljäs {
  font-size: 50px;
  color: brown;
}

#viides {
  font-size: 60px;
  color: lightblue;
}

#kuudes {
  font-size: 50px;
  color: lightgrey;
}

#seitsemäs {
  font-size: 40px;
  color: pink;
}

#kahdeksas {
  font-size: 30px;
  color: green;
}

#yhdeksäs {
  font-size: 20px;
  color: purple;
}

#kymmenes {
  font-size: 10px;
  color: yellow;
}

#tokanimi {
  font-family: 'Aboreto', cursive;

}

#fontti1 {
  font-family: 'Alumni Sans Collegiate One', sans-serif;

}

#fontti2 {
  font-family: 'Alumni Sans Pinstripe', sans-serif;

}

#fontti3 {
  font-family: 'Anek Telugu', sans-serif;

}

#fontti4 {
  font-family: 'Karla', sans-serif;

}

#fontti5 {
  font-family: 'Montserrat', sans-serif;

}

#fontti6 {
  font-family: 'Noto Serif Balinese', serif;

}

#fontti7 {
  font-family: 'Open Sans', sans-serif;

}

#fontti8 {
  font-family: 'Permanent Marker', cursive;

}

#fontti9 {
  font-family: 'Roboto', sans-serif;

}

#fontti10 {
  font-family: 'Rubik Burned', cursive;

}
