table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: #F00000;
}

tr:nth-child(odd) {
  background-color: #FFF000;

}

tr:nth-child(even) {
  background-color: #FFFF00;
}
