section {
  background-color: lightblue;
}
body {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
h2, h3 {
  margin-top: 70px;
}
#vasen {
  margin-right: 15px;
  float: left;
  height: 150px;
}

#oikea {
  margin-left: 15px;
  float: right;
  height: 150px;
}
